<div>
    <div class="ui top attached dividing clearing segment">
    {% block title %}{% if title is not empty %}<div class="ui header">{{ title }}</div>{% endif %}{% endblock %}
    </div>
    <div class="ui attached segment bottom">
        {% block content %}{% endblock %}
    </div>
</div>
