{% macro collectionItem(form, allow_delete, button_delete_label, index, allow_up_down = false) %}
    {% spaceless %}
        <div data-collection="node"
             data-collection-index="{{ index }}"
             class="collection-item ui segment message">
            <div class="collection-box{% if form|length == 1 %} unique-field{% endif %}">
                <div class="ui grid">
                    <div class="twelve wide column">
                        <div class="fields equal width">
                            {% if not form.children|length %}
                                {{ form_widget(form) }}
                            {% else %}
                                {{ form_rest(form) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="four wide column top right aligned">
                        {% if allow_up_down %}
                                <button type="button" data-collection-action="up" class="ui circular icon button">
                                    <i class="icon angle up"></i>
                                </button>
                                <button type="button" data-collection-action="down" class="ui circular icon button">
                                    <i class="icon angle down"></i>
                                </button>
                        {% endif %}
                        {% if allow_delete %}
                            <button type="button" data-collection-action="delete" class="negative ui circular icon button remove_route_path">
                                <i class="icon times"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}

