{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout_semantic.html.twig' %}
{% block title %}{{ block.name|default('') }}{% endblock %}

{% block header_title %}{{ block.name|default('') }}{% endblock %}
{% block header_icon %}th{% endblock %}

{% block content %}
<div class="ui hidden divider"></div>
<div class="ui segment">
    <div class="ui list">
        <div class="item">
            <div class="header">Name </div>
            <span>{{ block.name|default('') }}</span>
        </div>
    </div>
</div>
{% endblock content %}
