{% trans_default_domain 'sfs_cms_admin' %}

{#{% extends ['@SfsAdmin/layout.html.twig', 'admin/layout.html.twig', 'base.html.twig'] %}#}
{% extends '@SyliusAdmin/layout.html.twig' %}

{% block pre_content %}
    <div class="ui stackable two column grid">
        <div class="column">

            <h1 class="ui header">
                <i class="circular {% block header_icon %}image outline{% endblock %} icon"></i>
                <div class="content">
                    {% block header_title %}{% endblock %}
                    <div class="sub header">{% block header_subtitle %}{% endblock %}</div>
                </div>
            </h1>
            <div class="ui breadcrumb">
                <a href="/admin/" class="section">Administration</a>
                <i class="right chevron icon divider"></i>
                <a href="#" class="section">CMS</a>
                <i class="right chevron icon divider"></i>
                {% block breadcrums_content %}{% endblock breadcrums_content %}
            </div>
        </div>

        <div class="middle aligned column">
            <div class="ui right floated buttons">
                {% block header_buttons %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}


